button#translate-button(aria-label="translate")
    include lang-symbol.pug
#language-container
    .bg
    .language-list
        .language-option= (langNames.filter(v=>v.lang.toLowerCase()==lang.toLowerCase())[0]||{}).name
        each langName in langNames
            if langName.lang.toLowerCase()!=lang.toLowerCase()
                .language-option(value=langName.lang)= langName.name