html
    head 
        title yeet
        script(src="index.js", type="module")
        link(rel="stylesheet", href="style.css") 
    body 
        h1 NPS Software Info Library
        div#apps-container
            