html
    head 
        title NPS Application Library
        script(src="index.js", type="module")
        link(rel="stylesheet", href="style.css") 
    body.theme-light
        div 
            h1 NPS Application Library
        .search-container
            input#name-search(name="name-search", placeholder="Name")
            each sp in searchParams
                .selectlist(name=sp.id)
                    .selectlist-title= sp.name
                    .selectlist-contents
                        each option in sp.options
                            .selectlist-elt(name=option.id)= option.name
            
        .apps-container
            #search-refresh-popup
                button#search-refresh-button Refresh Search
            #search-loading-popup
                | LOADING


            #apps-list
                #apps-empty No Results
            