input#username(placeholder= translate("admin.body.usernamePlaceholder"), name="username")
input#password(type="password", name="password", placeholder= translate("admin.body.passwordPlaceholder"))
button#sign-button= translate("admin.body.signupButton")